<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="../../assets/img/logo.png"  />
<link rel="stylesheet" href="../../assets/css/style.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<title>EducAgro | Criar Voluntário</title>
</head>
<body>
	<main>
		<header class="header">
			<h1>Voluntário</h1>
		</header>
		
		<ul class="nav justify-content-center">
		  <li class="nav-item">
		    <a class="nav-link active" aria-current="page" href="../../index.html">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="../../aulas">Aulas</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="../../materias">Materias</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="../../professores">Professor</a>
		  </li>
		   <li class="nav-item">
		    <a class="nav-link" href="../../voluntario">Voluntário</a>
		  </li>
		</ul>
		
		<div class="container py-3">
            <form action="../../create-voluntario">
	            <h2 class="text-center">Criar Voluntário</h2>
	            <div class="form-group mb-3">
	                <label for="professor" class="form-label">
	                   Nome
	                </label>
	                <input type="text" id="nome" name="nome" class="form-control" value="" />
	            </div>
	            
	            <div class="form-group mb-3">
	                <label for="email" class="form-label">
	                    E-mail
	                </label>
	                <input type="email" id="email" name="email" required class="form-control" value="" />
	            </div>
	            <div class="form-group mb-3">
	                <label for="senha" class="form-label">
	                    Senha
	                </label>
	                <input type="password" id="senha" name="senha" required class="form-control" value="" />
	            </div>
	
	            <button type="submit" class="btn btn-primary">
	                Enviar
	            </button>
	            <a href="../../professores" class="btn btn-danger" style="margin-left: 10px">
	                Cancelar
	            </a>
            </form>
        </div>
		
    </main>
    
	<footer>
		<img
			src="../../assets/img/logo.png"
			alt="" />
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>